<section class="container"> 
  <div class="inside-container">
    <div class="sidenav-hp"> 
      <%= render '/pages/nav' %>
    </div>

    <h1>New Listing:</h1>

    <%= render 'form', listing: @listing %>
    
  </div>
</section>