<section class="container"> 
  <div class="inside-container">
    <div class="sidenav-hp"> 
      <%= render '/pages/nav' %>
      
      <h1>Creating a new Breed:</h1>

      <%= render 'form', breed: @breed %>
  </div>
</section>