<section class="container"> 
  <div class="inside-container">
    <div class="sidenav-hp"> 

    <h1>Breed No:</h1>

    <p>
      <strong>Name:</strong>
      <%= @breed.name %>
    </p>
  </div>
</section>