<ul>
  <li>
  <%= link_to 'Home', root_path %>
  </li>
  <li>
  <%= link_to 'Snake Lists', listings_path %>
  </li>
  <li>
  <%= link_to 'New', new_listing_path %>
  </li>
  <li>
  <%= link_to 'Breeds', breeds_path %>
  </li>
</ul>


