<section class="container">
  <div class="inside-container">
    <div class="sidenav-hp"> 
      <%= render 'nav' %>
    </div>
    <h1>Legless Pets</h1>

    <p>
      Find your dream snake
    </p>

    <div id="hero">
      <%= image_tag 'snake' %>
    </div>
  </div>
</section>

