<section class="container"> 
  <div class="inside-container">
    <div class="sidenav-hp"> 
      <%= render '/pages/nav' %>
    </div>

    <h1> You've made a successful payment!</h1>

    <%= link_to 'Go to listings', listings_path %>
  </div>
</section>