.container {
  height: 100vh;
  background-color: white;
  /* background-image: url(/assets/loch-ness-151851_1280); */
}

.inside-container {
  height: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

.table-container-breeds {
  height: 100vh;
  width: 99%;
  overflow-x: auto;
}

.table-container-snakes {
  height: 100vh;
  width: 99%;
  overflow-x: auto;
}

.new_user {
  height: 80%;
}


table {
  /* height: 80%; */
  width: 100%;
  border: 1px solid black;
}

th {
  /* background-color: black;
  color: white; */
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid black;
}


tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color:lightgray;}

p img {
  height: 300px;
}

#hero {
  width: 100%;
  /* height: 80%; */
  text-align: center;
}

#hero img {
  height: 525px;
}

