.sidenav-hp {
  width: 100vw;
  position: absolute;
  margin: 10px;
  left: 98%;
  white-space: nowrap;
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
  /* transform: translate(-50%,-50%) rotate(90deg); */
}


.sidenav {
  display: flex;
  justify-content: flex-end;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.sidenav ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  padding: 10px;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

form {
  height: 80vh;
  overflow: scroll;
  margin-bottom: 10px;
}

/* Attempted centering form */
label {
  padding: 2px;
  margin-right: 0.8em;
  display: block
}

.submit-button {
  margin-top: 10px;
  /* margin-left: 4.5em; */
}
input {
  color: black
}

