/* section {
  height: 100vh;
  background-image: url(/assets/loch-ness-151851_1280);
} */

.hero {
  width: 200px;
  height: 200px;
  background-image: url(/assets/loch-ness-151851_1280);
  background-size: 100%;
  background-repeat: no-repeat;;
  background-color: none;
  
}